
/* Versao mobile first */

*{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*inclui a borda no calculo do tamanho */

}

html{


    height: 100vh;

}

body{


    background:  black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    


}

main{

    background-color: rgba(255, 255, 255, 0.582);
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}


img{

    display: block;
    margin: auto;
}

h1{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
        font-size: 2em;

}


img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}