@charset "UTF-8";


/*
    Paleta de cores 
    Verde : #49a09d
    Lilas : #5f2c82
*/

*{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


body, html{

    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login{

   background-color: white;
   width: 250px;
   height: 515px;
   border-radius: 20px;
   position: absolute;
   top:50% ;
   left:50% ;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
   
   transition: width .3s, height .3s;
   transform: translate(-50%,-50%);
 

}

div.campo > input{


    background-color: #5bc9c5;
    font-size: 1em;
    border:none;
    height: 100%;
    border-radius:5px ;
    padding: 4px;
    width: calc(100% - 44px);
     transform: translateY(-1px);
}

section#login > div.imagem{

    background: #5f2c82 url(../imagens/Img-login.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 200px;
    display: block;

}

section#login > div.formulario{

    padding: 10px;
    display: block;

}


div.formulario > h1 {

text-align: center;
margin-bottom: 10px;

}


div.formulario > p {

 font-size: 0.8em;

}


form > div.campo{

    background-color: #5f2c82;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
 

}

div.campo > label{

    display: none;

}

div.campo > input:focus-within{

    background-color: white;
    

}


form > button[type=submit]{


    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:  #49a09d;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;


}

form > button[type=submit]:hover{


    background-color: #367a78;

}

form > a.botao{

    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #49a09d;
    text-decoration: none;
    border-radius: 7px;
    color: #367a78;
    padding-top: 5px;
    margin-top: 5px;


}

form > a.botao:hover{

    background-color: #66e0dc;

}


