/* Estilo para tela */

/* Reset basico */
*{
    padding: 0;
    margin: 0;

}

html{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

header{

            background-color: #a8a8a8;

}

header > h1 {

    text-align: center;

}


menu ul{

    list-style-type: none;
    background-color: gray;
    
}

menu li{

        display: inline-block;
        padding: 10px;
        background-color: rgb(94, 90, 90);
        color: white;

}

article{

    width: 600px;
    display: block; /* configuracao para centralizar*/
    margin: auto;

}




